/* Your custom styles */
#content-form-log{
  display: none;
}
.form-control{
  border-radius: 0 !important;
}
#preloader{
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000;
  background: #FFF;
}
#preloader img{
  margin-top: 30%;
}
#nav-dashboard{
  background: #243a51;
  margin: 0;
}
#navbarDropdownMenuLink-4{
  text-transform: capitalize;
}
.list-group-item{
  background: none !important;
}
#accordion{
  background: #243a51;
  height: 100%;
}
#accordion .card-header{
  background: none;
  border-bottom: none;
}
#accordion .card{
  background: none;
  box-shadow: none;
}
#accordion a.itm-menu-lat{
  color: #fff;
}
#container-content .col-lg-10{
  overflow-x: hidden;
}
#container-content .col-lg-10 .legend-titulo{
  font-weight: 600;
  float: left;
}
#container-content .col-lg-10 .buscar{
  float: right;
}
#container-content .col-lg-10 .opciones{
  position: fixed;
  top: 90%;
  left: 92%;
}
.btn-fixed{
  font-size: 1.4em;
  padding: .6em .8em;
  border-radius: 50%;
}
.edit{
  background: #007bff;
}
.itm-menu-lat{
  font-size: .8em;
}
#paginate-custom ul{
  -webkit-box-pack: end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}
#paginate-custom ul li span{
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: .9rem;
  color: #212529;
}
.pagination .page-item.active .page-link{
  background-color: #243a51;
}
table.table th{
  padding-top: .7em;
  padding-bottom: .7em;
}
